<%- include('../../partials/head') %>

<body>
  <% if (loggedIn) { %>
  <!-- Header của admin -->
  <%- include('../../partials/adminHeader') %>
  <% } else { %>
  <!-- Header thường -->
  <%- include('../../partials/header') %>
  <% } %>

  <div class="container">
    <h2 style='color: #fff;'>Searching for: <%=searchTerm%></h2>
    <div class="row">
      <% var reversedData=data.slice().reverse(); %>
      <% for(let i=0; i < reversedData.length; i++) { %>
      <div class="col-4 col-3">
        <div class="card mt-4 home-card-game">
          <a href="/<%= reversedData[i].slug %>">
            <img style="height: 300px;" class="card-img-top home-img-game" src="<%= reversedData[i].image %>">
            <div class="card-body">
              <h5 class="card-title">
                <%= reversedData[i].title %>
              </h5>
            </div>
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% if (loggedIn) { %>
  <!-- Header của admin -->
  <%- include('../../partials/adminFooter') %>
  <% } else { %>
  <!-- Header thường -->
  <%- include('../../partials/footer') %>
  <% } %>
</body>