<body>
    <%- include('../partials/head') %>
        <%- include('../partials/header') %>

            <div class="main-show mt-4">
                <div class="container">
                    <div class="row">
                        <div class="main col-8">
                            <img class="avatar mt-3" src="<%=data.image%>">

                            <h1 class="mt-3 mb-3">
                                <%= data.title %>
                            </h1>

                            <h5>OVERVIEW</h5>
                            <div class="description mb-3 text-center">
                                <p>
                                    <%= data.description %>
                                </p>
                            </div>

                            <h5>INFO</h5>
                            <div class="info mb-3 text-center">
                                <p><strong>Category:</strong>
                                    <%=data.category%>
                                </p>
                                <p><strong>Developer:</strong>
                                    <%=data.developerInfo%>
                                </p>
                                <p><strong>Version:</strong>
                                    <%=data.version%>
                                </p>
                                <p><strong>OS:</strong>
                                    <%=data.os%>
                                </p>
                                <p><strong>Languages:</strong>
                                    <%=data.language%>
                                </p>
                            </div>

                            <h5>SCREEN SHOT</h5>
                            <div class="screen-shot mb-3 text-center">
                                <div class="image-container">
                                    <img class="large-img" src="<%= data.screenshots[0] %>">
                                </div>
                                <div class="thumbnail-wrapper">
                                    <% data.screenshots.forEach(function(screenshot) { %>
                                        <img class="screenshot-img" src="<%= screenshot %>">
                                        <% }); %>
                                </div>
                            </div>

                            <h5>DOWNLOAD</h5>
                            <div class="download mb-5">
                                <p><strong>Windows: </strong><a href="<%=data.downloadLink%>">Link</a></p>
                            </div>

                        </div>

                        <div class="col-3">
                            <div class="content">
                                <a href="#"><img class="FB" src="/image/FB.png" alt=""></a>
                                <a href="#"><img class="DC" src="/image/DC.png" alt=""></a>
                            </div>

                            <div class="discord mt-4">
                                <iframe class="discord-iframe"
                                    src="https://discord.com/widget?id=916226590336233492&theme=dark" width="300"
                                    height="335" allowtransparency="true" frameborder="0"
                                    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../partials/footer') %>

                <script>
                    window.addEventListener('scroll', function () {
                        var element = document.querySelector('.border');
                        var content = document.querySelector('.content');
                        var discord = document.querySelector('.discord');
                        if (window.scrollY > element.offsetTop) {
                            content.style.position = 'fixed';
                            content.style.top = '30px';

                            discord.style.position = 'fixed';
                            discord.style.top = '180px'
                        } else {
                            content.style.position = 'static';
                            discord.style.position = 'static';
                        }
                    });

                    window.addEventListener('resize', function () {
                        var content = document.querySelector('.content');
                        var discord = document.querySelector('.discord');
                        var main = document.querySelector('.main');
                        if (window.innerWidth < 1000) {
                            content.style.display = 'none';
                            discord.style.display = 'none';

                            main.classList.remove('col-8');
                            main.classList.add('col-12');
                        } else {
                            content.style.display = 'block';
                            discord.style.display = 'block';

                            main.classList.remove('col-12');
                            main.classList.add('col-8');
                        }
                    });

                    // Lắng nghe sự kiện click trên ảnh nhỏ
                    document.addEventListener("DOMContentLoaded", function () {
                        const smallImgs = document.querySelectorAll(".screenshot-img");
                        const largeImg = document.querySelector(".large-img");
                        let currentIndex = 0;

                        // Hiển thị ảnh đầu tiên là ảnh mặc định
                        largeImg.src = smallImgs[0].src;
                        smallImgs[0].classList.add("selected");

                        // Xử lý sự kiện click trên ảnh nhỏ
                        smallImgs.forEach(function (img, index) {
                            img.addEventListener("click", function () {
                                // Bỏ chọn tất cả các ảnh nhỏ
                                smallImgs.forEach(function (smallImg) {
                                    smallImg.classList.remove("selected");
                                });

                                // Chọn ảnh nhỏ được click
                                this.classList.add("selected");

                                // Hiển thị ảnh lớn tương ứng
                                largeImg.src = this.src;

                                // Cập nhật chỉ số hiện tại
                                currentIndex = index;
                            });
                        });

                        // Thay đổi ảnh lớn sau mỗi 5 giây
                        setInterval(function () {
                            currentIndex = (currentIndex + 1) % smallImgs.length;

                            // Bỏ chọn tất cả các ảnh nhỏ
                            smallImgs.forEach(function (smallImg) {
                                smallImg.classList.remove("selected");
                            });

                            // Chọn ảnh nhỏ tương ứng với ảnh lớn
                            smallImgs[currentIndex].classList.add("selected");

                            // Sau khoảng thời gian nhỏ, hiển thị ảnh mới và thêm hiệu ứng mờ dần
                            setTimeout(function () {
                                largeImg.src = smallImgs[currentIndex].src;
                            }, 500);

                        }, 5000);
                    });

                </script>
</body>